dist: xenial
language: node_js
node_js:
  - '12'

cache:
  directories:
    - node_modules

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

after_script:
  - ./cc-test-reporter format-coverage -t lcov ./coverage/lcov.info
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

install:
  - yarn
  - yarn run bootstrap
  - yarn run build

script:
  - yarn test:report

deploy:
  provider: script
  skip_cleanup: true
  script:
    - yarn run release
